@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  }

  body {
    @apply bg-green-50 text-green-900 font-sans antialiased dark:bg-night-800 dark:text-white;
  }

  input, textarea, select, button {
    font-family: inherit;
  }
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
